spring:
  application:
    name: acl-service
  webflux:
    base-path: /api
  cloud:
    loadbalancer:
      retry:
        enabled: true
server:
  port: 8181

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}